@mixin body_style($color, $font, $mRight, $mLeft) {
  color: $color;
  font-size: $font;
  margin-right: $mRight;
  margin-left: $mLeft;
}

@mixin flex_style($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pic_Background($size, $position, $font, $color) {
  background-size: $size;
  background-position: $position;
  font-size: $font;
  color: $color;
}

@mixin size_wh($width, $height) {
  width: $width;
  height: $height;
}
