@import "./_about";
@import "./_our-services";
@import "./_our-team.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f3f7;
}
nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
}
nav .container {
  display: flex;
  height: 120px;

  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.984);
  // position: sticky;
  // z-index: 1;
  .logo {
    font-size: 50px;
    color: cornflowerblue;
    margin-left: 20px;
    font-weight: 550;
  }
  .a-nav {
    text-decoration: none;
    color: rgb(95, 94, 94);
    font-size: 20px;
  }
  .soc-net {
    margin-right: 20px;
  }
}
header .container {
  background-image: url(./images/top-image.jpeg);
  display: flex;
  flex-direction: column;
  height: 784px;
  width: 100%;
  text-align: center;
  position: relative;
  align-items: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // opacity: 0.7;
  // background-color: rgb(6, 84, 193);

  .image {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    background-color: rgb(6, 84, 193);
    // z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }
  h1 {
    position: absolute;
    top: 220px;
    // left: 400px;

    font-size: 60px;
    color: white;
    font-weight: 100;
  }
  p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 320px;
    // left: 120px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    position: absolute;

    bottom: 280px;
    // left: 420px;}
  }
  .button-1 {
    background-color: rgb(12, 20, 104);
    font-size: 18px;
    border-radius: 40px;

    color: aliceblue;
    padding: 20px 42px;
  }
  .button-2 {
    background-color: aliceblue;
    font-size: 18px;
    padding: 15px;
    border-radius: 40px;
    color: rgb(95, 94, 94);
    margin-left: 70px;
    padding: 20px 42px;
  }
}

section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50px;
  flex-direction: row;
  font-size: 22px;
  color: rgb(10, 10, 140);
  .icon-1 {
    display: flex;
    align-items: center;
    p {
      margin-left: 8px;
    }
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: $box;
  }
  .pink-button {
    background-color: rgb(207, 14, 117);
    color: aliceblue;
    position: absolute;
    top: 400px;
    padding: 16px 42px;
    border-radius: 100px;
    right: 350px;
    font-size: 20px;
  }
}
