body {
  background: linear-gradient(139.44deg, #d9d9d9 0%, #7300e4 0.01%, #e300a4 48.46%, #ffb763 106.28%);
  height: 1000px;
  display: flex;
  justify-content: center;
}

.main {
  width: 390px;
  height: 844px;
  background-color: #ffffff;
  border-radius: 12px;
}
.main .status-bar {
  height: 47px;
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .status-bar .time {
  height: 20px;
  width: 54px;
  margin-left: 27px;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  font-feature-settings: "case" on;
  color: #000000;
}
.main .status-bar .mobile-signal {
  width: 18px;
  height: 12px;
}
.main .status-bar .wifi {
  width: 17px;
  height: 11.83px;
  margin-left: 8px;
  margin-right: 9px;
}
.main .status-bar .battery {
  width: 21px;
  height: 9px;
  margin-right: 26.6px;
}
.main nav {
  width: 390px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main nav .nav-left {
  height: 40px;
  display: flex;
  align-items: center;
}
.main nav .nav-left .logo {
  width: 104px;
  height: 30px;
  margin-left: 14px;
  margin-right: 8px;
}
.main nav .nav-left .direction {
  width: 16px;
  height: 16px;
}
.main nav .nav-right {
  display: flex;
  align-items: center;
}
.main nav .nav-right .heart {
  width: 24px;
  height: 24px;
}
.main nav .nav-right .share {
  width: 24px;
  height: 24px;
  margin-left: 24.5px;
  margin-right: 26px;
}
.main nav .nav-right .add {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.main .story-tray {
  width: 390px;
  height: 105.75px;
  display: flex;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  overflow: hidden;
}
.main .story-tray .profile-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 11.11px;
  margin-right: 13px;
}
.main .story-tray .profile-1 .profile-avatar {
  background-image: url(./images/ruffles.png);
  border-radius: 50%;
  width: 60.63px;
  height: 60.63px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.7rem;
}
.main .story-tray .profile-1 .plus {
  width: 20px;
  height: 20px;
  align-self: flex-end;
}
.main .story-tray .profile-1 p {
  color: #6e6e6e;
  font-size: 11.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.main .story-tray .profile-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
}
.main .story-tray .profile-2 .ring {
  display: flex;
  justify-content: center;
  background-image: url(./images/Story-ring.png);
  width: 72px;
  height: 72px;
}
.main .story-tray .profile-2 .ring img {
  border-radius: 50%;
  align-self: center;
}
.main .story-tray .profile-2 p {
  font-size: 11.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.main .story-tray .profile-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
}
.main .story-tray .profile-3 .ring {
  background-image: url(./images/Story-ring.png);
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
}
.main .story-tray .profile-3 .ring img {
  border-radius: 50%;
  width: 60.63px;
  height: 60.63px;
  align-self: center;
}
.main .story-tray .profile-3 p {
  font-size: 11.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.main .story-tray .profile-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12px;
}
.main .story-tray .profile-4 .ring {
  background-image: url(./images/Story-ring.png);
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
}
.main .story-tray .profile-4 .ring img {
  border-radius: 50%;
  width: 60.63px;
  height: 60.63px;
  align-self: center;
}
.main .story-tray .profile-4 p {
  font-size: 11.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.main .story-tray .profile-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .story-tray .profile-5 .ring {
  background-image: url(./images/Story-ring.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
}
.main .story-tray .profile-5 .ring img {
  border-radius: 50%;
  width: 60.63px;
  height: 60.63px;
  align-self: center;
}
.main .story-tray .profile-5 p {
  font-size: 11.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.main .user-header {
  width: 390px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .user-header .left-side-header {
  display: flex;
  align-items: center;
}
.main .user-header .left-side-header .avatar {
  width: 34px;
  height: 34px;
  margin-left: 14.9px;
  margin-right: 9.68px;
}
.main .user-header .left-side-header h4 {
  font-size: 12px;
  font-weight: 700;
}
.main .user-header .points {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}
.main .the-picture {
  background-image: url(./images/dog.png);
  width: 390px;
  height: 390.25px;
  display: flex;
  justify-content: space-between;
}
.main .the-picture .top-details {
  width: 30px;
  height: 22px;
  margin-top: 16px;
  margin-right: 10px;
}
.main .the-picture .contact {
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-bottom: 10.25px;
  margin-left: 16px;
}
.main .sponsor {
  width: 390px;
  height: 40px;
  background-color: #1fa1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .sponsor p {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-left: 12px;
}
.main .sponsor img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.main .post-info {
  width: 390px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .post-info .left-side {
  margin-left: 12px;
}
.main .post-info .left-side .love {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.main .post-info .left-side .chat {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.main .post-info .left-side .message {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.main .post-info .choosing-page {
  width: 56px;
  height: 8px;
  margin-right: 75px;
}
.main .post-info .favorite {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.main .likes-and-comments {
  width: 390px;
  height: 37px;
  display: flex;
  flex-direction: column;
}
.main .likes-and-comments .likes {
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 12px;
}
.main .likes-and-comments .comments {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main .likes-and-comments .comments .username {
  font-weight: 700;
  margin-left: 12px;
  margin-right: 4px;
}
.main .footer {
  width: 390px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .footer__home {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}
.main .footer__search {
  width: 24px;
  height: 24px;
}
.main .footer__video {
  width: 24px;
  height: 24px;
}
.main .footer__basket {
  width: 24px;
  height: 24px;
}
.main .footer__your-watching {
  width: 24px;
  height: 30px;
  margin-right: 20px;
}
.main .home-indicator {
  width: 390px;
  height: 34px;
  display: flex;
  justify-content: center;
}
.main .home-indicator img {
  width: 134px;
  height: 5px;
  align-self: flex-end;
  margin-bottom: 8px;
}/*# sourceMappingURL=index.css.map */