.basic {
  width: 30rem;
  height: 22rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: black;
  background-color: aquamarine;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  &__color {
    background-color: maroon;
    width: 10rem;
    height: 8rem;
  }
  &__color2 {
    width: 10rem;
    height: 8rem;
    background-color: yellow;
  }
  &__regular {
    h1 {
      font-size: 1.5rem;
      color: blue;
      position: absolute;
      top: 0;
      right: 10rem;
    }
  }
}

.dis {
  width: 30rem;
  height: 22rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: black;
  background-color: aquamarine;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  &__color {
    background-color: maroon;
    width: 10rem;
    height: 8rem;
  }
  &__display {
    width: 10rem;
    height: 8rem;
    background-color: yellow;
    display: none;
  }
  &__h1 {
    h1 {
      font-size: 1.5rem;
      color: blue;
      position: absolute;
      top: 0;
      right: 10rem;
    }
  }
}

.vis {
  width: 30rem;
  height: 22rem;
  border-style: solid;
  border-width: 0.4rem;
  border-color: black;
  background-color: aquamarine;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  &__color {
    background-color: maroon;
    width: 10rem;
    height: 8rem;
  }
  &__visibility {
    width: 10rem;
    height: 8rem;
    background-color: yellow;
    visibility: hidden;
  }
  &__h1 {
    h1 {
      font-size: 1.5rem;
      color: blue;
      position: absolute;
      top: 0;
      right: 10rem;
    }
  }
}
